# Dependencies
.terraform/
node_modules/

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Secrets
secrets/*.yml
!secrets/*.example
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Lint
.ansible