---
- name: Deploy Monitoring Stack
  hosts: monitoring
  gather_facts: true
  vars:
    target_lxc_id: "{{ monitoring_lxc_id }}"

  pre_tasks:
    - name: Fetch secrets from Bitwarden
      ansible.builtin.include_tasks: tasks/fetch_secrets.yml

  roles:
    - role: lxc-nesting
      tags: [setup, lxc]
    - common
    - role: ufw
      tags: [firewall]
      vars:
        ufw_allow_ports:
          - 3000
          - 9090
          - 9093
    - docker
    - monitoring
