---
- name: Fetch secrets from Bitwarden (on localhost)
  block:
    - name: Include bitwarden-secrets role
      ansible.builtin.include_role:
        name: bitwarden-secrets
  delegate_to: localhost
  run_once: true
